.App {
  text-align: left;
  color: rgb(190, 194, 190);
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: top-left;
  justify-content: top;
  min-height: 100vh;
  border: 20px solid #282c34;
  
}



.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(20px + 2vmin);
  color: rgb(20, 196, 87);
  margin: 20px;
}

.App-link {
  color: #cf0d0d;
}


